[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nomad = "*"
bpython = "*"

[packages]
gunicorn = "*"
redis = "*"
Flask = "*"
wtforms = "*"
psycopg = {extras = ["binary"], version = "*"}
wenmode = "*"

[requires]
python_version = "3.14"
