{% extends 'default.html' %}

{% from 'macros/macros.html' import post_link %}

{% block title %}All posts for {{topic.title}}{% endblock %}

{% block content %}
<div class="container-lg">
    <h1>All posts for {{topic.title}}</h1>

    <p>Topic: <a href="{{url_for('topic', topic_id=topic.id)}}">{{topic.title}}</a></p>

    {% if posts %}

    <ol class="post-list list-group">
    	{% for post in posts %}
    	<li class="list-group-item border-0">{{ post_link(post) }}</li>
    	{% endfor %}
    </ol>
    {% else %}
    <p>No posts written for topic yet</p> 
    {% endif %}
</div>
{% endblock %}