{% extends 'default.html' %}

{% macro archive_form(url, button_label) -%}
    <form
        method="POST"
        action="{{url}}"
        >

        <button type="submit" class="btn btn-primary">{{button_label}}</button>
    </form>
{%- endmacro %}

{% block title %}Archive topic {{topic.title}}{% endblock %}

{% block content %}
<div class="container-lg">
    <h1>{{topic.title}}</h1>

    {% if topic.active %}

    <p>Are you sure you want to archive the topic <a href="{{url_for('topic', topic_id=topic.id)}}">{{topic.title}}</a>?</p>

    {{ archive_form(url_for('archive_topic_form', topic_id=topic.id), 'Archive')}}

    {% else %}

    <p>Are you sure you want to unarchive the topic <a href="{{url_for('topic', topic_id=topic.id)}}">{{topic.title}}</a>?</p>

    {{ archive_form(url_for('unarchive_topic_form', topic_id=topic.id), 'Unarchive')}}
    
    {% endif %}
{% endblock %}