<nav class="navbar navbar-light bg-light
	d-flex
		justify-content-start
		align-items-center">
  <a class="navbar-brand me-3" href="{{url_for('home')}}">Micro Blog Streams</a>

	<ul class="navbar-nav d-flex flex-row">
		<li class="nav-item ">
			<a class="nav-link" href="{{url_for('topics')}}">Current Topics</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="{{url_for('new_post')}}">New post</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="{{url_for('recent')}}">Recent posts</a>
		</li>

		<li class="nav-item me-3">
			<a class="nav-link" href="{{url_for('search')}}">Search</a>
		</li>
	</ul>
</nav>