<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{url_for('home')}}">Micro Blog Streams</a>
  <button
  	class="navbar-toggler"
  	type="button"
  	data-bs-toggle="collapse"
  	data-bs-target="#navbarSupportedContent"
  	aria-expanded="false"
  	aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('topics')}}">Topics</a>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle"
					href="#"
					role="button"
					id="posts-nav-dropdown"
					data-bs-toggle="dropdown">Posts</a>
				<ul class="dropdown-menu" aria-labelledby="posts-nav-dropdown">
					<li>
						<a class="dropdown-item" href="{{url_for('recent')}}">Recent posts</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{url_for('all_posts')}}">All posts</a>
					</li>
				</ul>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{url_for('new_post')}}">New post</a>
			</li>
		</ul>
	</div>
</nav>