<nav class="navbar navbar-light bg-light
	mb-1
	d-flex
		flex-wrap
		justify-content-start">
  <a class="navbar-brand ps-2 me-3" href="{{url_for('home')}}">Micro Blog Streams</a>

	<ul class="navbar-nav
		ps-2
		d-flex
			flex-row
			flex-wrap
			justify-content-start
			gap-3
			row-gap-1">
		<li class="nav-item ">
			<a class="nav-link" href="{{url_for('topics')}}">Current Topics</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="{{url_for('new_post')}}">New post</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="{{url_for('recent')}}">Recent posts</a>
		</li>

		<li class="nav-item me-3">
			<a class="nav-link" href="{{url_for('search')}}">Search</a>
		</li>
	</ul>
</nav>