{% extends 'default.html' %}

{% block title %}Topics | Navigation{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Topics</h1>

    <nav>
        <ul class="navigation-menu">
            <li>
                <a
                    class="navigation-menu--item"
                    href="{{url_for('topics')}}"
                    >Topics</a>
            </li>
            <li>
                <a
                    class="navigation-menu--item"
                    href="{{url_for('all_topics')}}"
                    >All Topics</a>
            </li>
            <li>
                <a
                    class="navigation-menu--item"
                    href="{{url_for('archived_topics')}}"
                    >Archived Topics</a>
            </li>
            <li>
                 <a href="{{url_for('new_topic')}}">Create new topic</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}