
blockquote {
	border-left: solid grey;
	padding-left: 1rem;
}

.home-page-summaries {
	display: flex;
	flex-wrap: wrap;
}

.topic-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	flex-direction: column;
}

@media (min-width: 768px) {
	.topic-list {
		flex-direction: row;
		justify-content: space-between;
	}
}

.post-tags--tag-list {
	display: flex;
	flex-direction: row;
	list-style: none;
	column-gap:  2rem;
}

.edit-post-topics--topic-list > li {
	line-height: 3;
}

.post-editor-text {
	font-family: serif;
	font-size: large;
	line-height: 1.4;
}

.tag-cloud {
	list-style: none;
	font-size: 150%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 2rem;
	row-gap: 1rem;
}