
{% extends 'default.html' %}

{% block title %}Edit post topics for: {{post.title}}{% endblock %}

{% block content %}
<div class="container-lg">
    <h1>Edit topics for: {{post.title}}</h1>

	{% include "posts/fragments/post-actions.html" %}

	<div class="edit-post-topics">
		<div class="mb-4">
			<form
				method="POST"
				action="{{url_for('add_post_to_topic', post_id=post.id)}}">
				<div class="mb-3">
					<label class="form-label me-2">Add to Topic</label>
					<select name="topic_id">
						{% for topic in all_topics %}
						<option value="{{topic.id}}">{{topic.title}}</option>
						{% endfor %}
					</select>
				</div>
				<button type="submit" class="btn btn-primary">Add</button>

			</form>
		</div>

		<div>
			<ul class="edit-post-topics--topic-list">
				{% for topic in post_topics %}
				<li>
					<span class="me-3">{{topic.title}}</span>

					<form
						method="GET"
						class="d-inline me-3"
						action="{{url_for('topic', topic_id=topic.id)}}">
						<button type="submit" class="btn btn-sm btn-light">View</button>
					</form>

					<form method="POST"
						class="d-inline"
						action="{{url_for('remove_topic_from_post', post_id=post.id)}}">
						<input type="hidden" name="topic_id" value="{{topic.id}}">
						<input type="hidden" name="post_id" value="{{post.id}}">
						<button type="submit" class="btn btn-sm btn-danger">Remove</button>
					</form>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}