<!doctype HTML>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} | Micro Blog Streams</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" type="image/svg+xml" href="{{url_for('static', filename='images/micro-blog-stream-logo.svg')}}" >

        {% include 'fragments/bootstrap.html' %}

        <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" >
        <link rel="stylesheet"
            media="print"
            href="{{ url_for('static', filename='print.css') }}"/>

        <link rel="manifest" href="/manifest.json" />

        {% block additional_scripts %}
        {% endblock %}
    </head>

    <body>
		{% block navbar %}
        {% include 'navigation/navbar.html' %}
		{% endblock %}

        <div class="page-content">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
