{% extends 'default.html' %}

{% block title %}Login{% endblock %}


{% block navbar %}
{% endblock %}

{% block content %}
<div class="container-lg">
    <h1>Micro blog streams</h1>

    <form action="{{ url_for('login_form') }}" method="POST">
    	<div class="mb-3">
    		<label for="email">Email</label>
    		<input
    			id="email"
    			type="email"
    			name="email"
    			required
    			class="form-control">
    	</div>

    	<div class="mb-3">
    		<label for="email">Password</label>
    		<input
    			id="password"
    			type="password"
    			name="password"
    			required
    			class="form-control">
    	</div>

		<button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>
{% endblock %}