{% extends 'default.html' %}

{% block title %}{{post.title}}{% endblock %}

{% block additional_scripts %}
<script type="module" src="/static/components/PostCopier.js"></script>
{% endblock %}

{% block content %}
<div class="container-lg">
	<post-copier>
	    <h1>{{post.title}}</h1>

		{% include "posts/fragments/post-actions.html" %}

		<div class="post-content mb-5">
			{{post.content | markdown | safe}}
		</div>

		{% if post.url %}
		<div class="post-url">
			<p>Link: <a href="{{post.url}}">{{post.url}}</a></p>
		</div>
		{% endif %}


		{% include 'posts/fragments/tags.html' %}

		{% include 'posts/fragments/show-topics.html' %}

		{% include 'posts/fragments/raw-post-content.html' %}

	</post-copier>
</div>
{% endblock %}