{% extends 'default.html' %}

{% block title %}Search{% endblock %}

{% block content %}

<div class="container-fluid">

<h1>Search</h1>

<h2>Topics</h2>


<form method="POST" action="{{url_for('search_topics_by_title')}}">
	<div class="mb-3">
		<label for="post-title-search">Title</label>
		<input
			id="post-title-search"
			name="search_term"
			type="text"
			class="form-control">
	</div>
	<div class="mb-3">
		<button class="btn btn-primary" type="submit">Search</button>
	</div>
</form>

<h2>Posts</h2>

<form method="POST" action="{{url_for('search_posts_by_title')}}">
	<div class="mb-3">
		<label for="post-title-search">Title</label>
		<input
			id="post-title-search"
			name="search_term"
			type="text"
			class="form-control">
	</div>
	<div class="mb-3">
		<button class="btn btn-primary" type="submit">Search</button>
	</div>
</form>

<form method="POST" action="{{url_for('search_posts_by_content')}}">
	<div class="mb-3">
		<label for="post-content-search">Post content</label>
		<input
			id="post-content-search"
			name="search_term"
			type="text"
			class="form-control">
	</div>
	<div class="mb-3">
		<button class="btn btn-primary" type="submit">Search</button>
	</div>
</form>

</div>
{% endblock %}