{% extends 'default.html' %}

{% block title %}{{page_title | default("Topics")}}{% endblock %}

{% block additional_scripts %}
<script type="module" src="/static/components/topic-filter.js"></script>
{% endblock %}

{% block content %}
<div class="container-lg">
    <h1>{{page_title | default("Topics")}}</h1>

    <nav class="nav mb-3">
        <p class="nav-link"><a href="{{url_for('new_topic')}}">Create new topic</a></p>
    </nav>

    {% if topics %}
    <topic-filter>
    <div id="topic-filter-wrapper" class="mb-3" hidden>
        <label for="topic-filter">Filter</label>
        <input id="topic-filter" type="text">
    </div>

    <ol class="topic-list ps-0">
    	{% for topic in topics %}
    	<li class="me-md-4 mb-2 mb-md-3"><a href="/topic/{{topic.id}}">{{topic.title}}</a></li>
    	{% endfor %}
    </ol>
    </topic-filter>
    {% endif %}

    {% if return_link %}
    <p><a href="{{return_link.path}}">{{return_link.text}}</a></p>
    {% endif %}
    
</div>
{% endblock %}