{% extends 'default.html' %}

{% block title %}{{topic.title}} | Topic {% endblock %}

{% block additional_scripts %}
<script type="module" src="/static/components/PostCopier.js"></script>
{% endblock %}

{% block content %}
<div class="container-md">
    <h1 class="h1">{{topic.title}}</h1>

    {% if topic.description %}
    <p>{{topic.description}}</p>
    {% endif %}

    {% include "topics/fragments/topic-actions.html" %}

    <h2>Write a new post</h2>

    <div class="my-3">
        <details>
            <summary class="mb-3"><strong>Post editor</strong></summary>

            {% include 'posts/fragments/new-post-form.html' %}

        </details>
    </div>

    <h2 class="h2">Posts for {{topic.title}}</h2>

    <div class="post-list">
    {% include 'posts/fragments/recent-posts.html' %}
    </div>

    <p>See <a href="{{url_for('all_posts_for_topic', topic_id=topic.id)}}">all posts</a> for {{topic.title}}</p>
</div>
{% endblock %}